/* 'Poiret One', cursive */
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
/* 'Major Mono Display', monospace */
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
/* 'Miltonian', cursive */
@import url('https://fonts.googleapis.com/css2?family=Miltonian&display=swap');

:root
{
	/* setup a color pallet */
	--primary-color: #3d5852;
	--secondary-color: #86938f;
	--accent-color: #181a1c;

	/* setup fonts */
	--header-font: 'Major Mono Display', monospace;
	--text-font: 'Miltonian', cursive;

	font-size: 16px;
}

/* general styles */
*
{
	margin: 0;
	padding: 0;
}

body
{
	background-color: var(--primary-color);
}

.bg-primary
{
	background-color: var(--primary-color);
}
.bg-secondary
{
	background-color: var(--secondary-color);
}
.bg-accent
{
	background-color: var(--accent-color);
}

.color-primary
{
	color: var(--primary-color);
}
.color-secondary
{
	color: var(--secondary-color);
}
.color-accent
{
	color: var(--accent-color);
}

.font-header
{
	font-family: var(--header-font);
}
.font-text
{
	font-family: var(--text-font);
}

.span
{
	width: 100%;
}
.span-screen
{
	width: 100vw;
}

.fill
{
	width: 100%;
	height: 100%;
}
.fill-screen
{
	width: 100vw;
	height: 100vh;
}

.center
{
	margin: auto;
}

.flex-row
{
	display: flex;
	flex-direction: row;
}
.flex-column
{
	display: flex;
	flex-direction: column;
}
.flex-wrap
{
	flex-wrap: wrap;
}

.flex-space
{
	justify-content: space-evenly;
}
.flex-center
{
	justify-content: center;
	align-items: center;
}

.fixed
{
	position: fixed;
}
.relative
{
	position: relative;
}
.absolute
{
	position: absolute;
}

h1
{
	font-family: var(--header-font);
}
h2
{
	font-family: var(--header-font);
}
h3
{
	font-family: var(--header-font);
}

p
{
	font-family: var(--text-font);
}

/* navigation styles */
.nav-wrapper
{
	position: relative;
	z-index: 99;

	justify-content: flex-end;

	transition: background-color 200ms ease;
}
.nav-links-wrapper
{
	justify-content: space-evenly;
}
.nav-link
{
	font-size: 1rem;

	padding: 1rem;

	text-decoration: none;
	text-transform: uppercase;
	font-weight: 800;
	
	transition: text-shadow 200ms ease, color 200ms ease, background-color 200ms ease;
}
.nav-link:hover
{
	color: var(--secondary-color);
	background-color: var(--primary-color);

	text-shadow: 5px 5px 5px var(--primary-color);
}

/* footer styles */
footer
{
	font-size: 1.25rem;
}
footer i
{
	font-size: 2rem;
	padding: 1rem;
}

/* photo viewer styles */
.photo-viewer-wrapper
{
	background-color: rgba(0, 0, 0, 0.795);
	top: 0;
	left: 0;
	z-index: 100;

	display: grid;
	grid-template-columns: auto 1fr auto;
	justify-items: center;
	align-items: center;
}
.photo-viewer-wrapper > i
{
	color: white;
	font-size: 2.5rem;
	padding: 1rem;
}
.photo-viewer-wrapper > i:hover
{
	cursor: pointer;
}
.photo-viewer-wrapper > img
{
	max-width: 90%;
	max-height: 90vh;
}

@media(max-width: 1200px)
{

}